In [2]:
import numpy as np
import pandas as pd

In [7]:
arr2 = np.array([[1, 2, 3, 4],
                 [5, 6, 7, 8],
                 [9, 1, 2, 3]])

In [8]:
arr3 = np.array([[11, 12, 13, 14],
                 [15, 16, 17, 18],
                 [19, 11, 12, 13]])

In [9]:
# Adding a scalar
arr2 + 3

array([[ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12,  4,  5,  6]])

In [10]:
# Element-wise subtraction
arr3 - arr2

array([[10, 10, 10, 10],
       [10, 10, 10, 10],
       [10, 10, 10, 10]])

In [11]:
# Division by scalar
arr2 / 2

array([[0.5, 1. , 1.5, 2. ],
       [2.5, 3. , 3.5, 4. ],
       [4.5, 0.5, 1. , 1.5]])

In [13]:
# Element-wise multiplication
arr2 * 4

array([[ 4,  8, 12, 16],
       [20, 24, 28, 32],
       [36,  4,  8, 12]])

In [14]:
# Modulus with scalar
arr2 % 4

array([[1, 2, 3, 0],
       [1, 2, 3, 0],
       [1, 1, 2, 3]], dtype=int32)

# Support Broadcasting
### -  This allows arithmetic operations between 2 arrays with a different number of dimensions but compatible shapes

In [15]:
arr2 = np.array([[1, 2, 3, 4],
                 [5, 6, 7, 8],
                 [9, 1, 2, 3]])

In [16]:
arr2.shape

(3, 4)

In [17]:
arr4 = np.array([4, 5, 6, 7])

In [18]:
arr4.shape

(4,)

In [19]:
# when an array with 2 dimentions (arr2) gets added to an array with 1 dimension (arr4), the array with 1 dimension gets
# replicated to match the shape of the other array (arr2) - in this case gets replicated 3 times to match arr2


arr2 + arr4

array([[ 5,  7,  9, 11],
       [ 9, 11, 13, 15],
       [13,  6,  8, 10]])

In [20]:
# this is called broadcasting - only works if one of the arrays can be replicated to match the shape of the other array.
# so if arr4 only had 3 elements instead of 4 the calculation would throw an error.

arr5 = np.array([7, 8])

In [21]:
arr5.shape

(2,)

In [22]:
# as arr5 is 1 dimension AND only has 2 elements it cannot be operated with arr2 which has 4 elements on each row

arr2 + arr5

ValueError: operands could not be broadcast together with shapes (3,4) (2,)

In [23]:
# Numpy arrays also support comparison operations ==, =!, >, < etc and gives an array of booleans as output

In [26]:
arr1 = np.array([[1, 2, 3], [3, 4, 5]])
arr2 = np.array([[2, 2, 3], [1, 2, 5]])

In [27]:
arr1 == arr2

array([[False,  True,  True],
       [False, False,  True]])

In [28]:
arr1 != arr2

array([[ True, False, False],
       [ True,  True, False]])

In [29]:
arr1 >= arr2

array([[False,  True,  True],
       [ True,  True,  True]])

In [30]:
arr1 < arr2

array([[ True, False, False],
       [False, False, False]])

In [31]:
# common use case for this is counting number of equal elements in 2 arrays using the sum method
# the output will give the number of matching elements between the 2 arrays compared

In [32]:
(arr1 == arr2).sum()

3

# Array Indexing and Slicing
## A slice or a sub-array provides list indexing using multiple [[], [], []]

In [33]:
arr3 = np.array([
    [[11, 12, 13, 14],
     [13, 14, 15, 19]],
    
    [[15, 16, 17, 21],
     [63, 92, 36, 18]],
    
    [[98, 32, 81, 23],
     [17, 18, 19.5, 43]]])

In [35]:
# This 3D array has 3 lists, 2 arrays in each list, and 4 elements inside each array

arr3.shape

(3, 2, 4)

In [36]:
# indexing starts at 0 so index 1 will be the second list in arr3

arr3[1]

array([[15., 16., 17., 21.],
       [63., 92., 36., 18.]])

In [43]:
# Accessing a single element

arr3[1, 1, 0]

63.0

In [49]:
# Subarray using Ranges
arr3[2:, 0:1, :3]

array([[[98., 32., 81.]]])

In [51]:
# Mixing Indices and ranges
arr3[1:, 1, :2]

array([[63., 92.],
       [17., 18.]])

In [52]:
# Using fewer indices
arr3[1]

array([[15., 16., 17., 21.],
       [63., 92., 36., 18.]])

# Other ways of creating Numpy arrays

In [53]:
# All zeros or a 'null array'
np.zeros((3, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [54]:
# All ones
np.ones([2, 2, 3])

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [55]:
# Identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [56]:
# Random Vector
np.random.rand(5)

array([0.99657039, 0.45575644, 0.29447764, 0.62418068, 0.87664224])

In [60]:
# Random matrix
np.random.randn(2, 3)

array([[ 2.03317717,  0.69821882,  0.26098699],
       [-0.33318648,  0.20481827, -0.45928444]])

In [61]:
# Range with start, end, step
np.arange(10, 90, 3)

array([10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58,
       61, 64, 67, 70, 73, 76, 79, 82, 85, 88])

In [64]:
# Equally spaced numbers in a range
np.linspace(3, 27, 9)

array([ 3.,  6.,  9., 12., 15., 18., 21., 24., 27.])