In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns

In [2]:
total_history_df = pd.read_csv('Personal Crypto Trading jan to aug 2020.csv')

In [3]:
total_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date(UTC)  318 non-null    object
 1   Pair       318 non-null    object
 2   Side       318 non-null    object
 3   Price      318 non-null    float64
 4   Executed   318 non-null    object
 5   Amount     318 non-null    object
 6   Fee        318 non-null    object
 7   Amount($)  318 non-null    float64
dtypes: float64(2), object(6)
memory usage: 20.0+ KB

In [4]:
total_history_df['Amount($)'] = pd.to_numeric(total_history_df['Amount($)'])
total_history_df['Price'] = pd.to_numeric(total_history_df['Price'])

In [5]:
total_history_df.describe()

              Price   Amount($)
count    318.000000  318.000000
mean    1896.045975   49.650049
std     8925.378892   69.417212
min        0.010000    0.010850
25%        1.022500   19.050009
50%        9.130000   29.885842
75%       72.960000   50.340085
max    62913.210000  567.320000

## Retreiving data from the dataframe

In [6]:
# converting BUYs to 1 and SELLs to 0

total_history_df['Side'] = total_history_df['Side'].map({'BUY': 1, 'SELL': 0})

In [7]:
# storing all my sell orders in a new df

sell_df = total_history_df[total_history_df['Side'] ==0]

In [8]:
sell_df

,Date(UTC),Pair,Side,Price,Executed,Amount,Fee,Amount($)
5,08/08/2021 20:50,ETHUSDT,0,2983.31,0.0344100000ETH,102.65569710USDT,0.0002265900BNB,102.655697
6,25/07/2021 15:38,SANDUSDT,0,0.71,58.9000000000SAND,41.74066300USDT,0.0001058900BNB,41.740663
7,25/07/2021 15:13,SOLUSDT,0,27.17,0.7200000000SOL,19.55952000USDT,0.0000495600BNB,19.559520
8,24/07/2021 11:11,MANAUSDT,0,0.72,27.8300000000MANA,20.00698700USDT,0.0000495600BNB,20.006987
9,24/07/2021 11:11,MANAUSDT,0,0.72,14.0500000000MANA,10.10054500USDT,0.0000250200BNB,10.100545
...,...,...,...,...,...,...,...,...
262,30/03/2021 16:06,ETHUSDT,0,1829.39,0.0270100000ETH,49.41182390USDT,0.0001260600BNB,49.411824
279,26/03/2021 15:00,THETAUSDT,0,12.46,1.7000000000THETA,21.18898700USDT,0.0000639300BNB,21.188987
290,24/03/2021 18:36,VETUSDT,0,0.09,219.0000000000VET,20.34707100USDT,0.0000585300BNB,20.347071
296,23/03/2021 20:42,VETUSDT,0,0.08,248.0000000000VET,20.36352800USDT,0.0203635300USDT,20.363528
297,23/03/2021 19:26,THETAUSDT,0,13.20,1.7000000000THETA,22.44120700USDT,0.0224412100USDT,22.441207

In [9]:
# storing all my buy orders in a new df

buy_df = total_history_df[total_history_df['Side'] ==1]

In [10]:
buy_df

,Date(UTC),Pair,Side,Price,Executed,Amount,Fee,Amount($)
0,21/08/2021 09:05,EOSUSDT,1,5.51,14.4900000000EOS,79.89930900USDT,0.0001314900BNB,79.899309
1,20/08/2021 22:45,ONEUSDT,1,0.11,379.9000000000ONE,42.44622700USDT,0.0000705600BNB,42.446227
2,20/08/2021 19:42,ERNUSDT,1,22.23,0.9000000000ERN,20.00340000USDT,0.0000340200BNB,20.003400
3,20/08/2021 19:15,LINKUSDT,1,28.37,1.9690000000LINK,55.86446800USDT,0.0000939500BNB,55.864468
4,18/08/2021 14:44,ETHUSDT,1,3068.47,0.0338100000ETH,103.74497070USDT,0.0001932200BNB,103.744971
...,...,...,...,...,...,...,...,...
313,16/03/2021 20:37,ETHUSDT,1,1794.84,0.2242600000ETH,402.51081840USDT,0.0002242600ETH,402.510818
314,16/03/2021 19:55,THETAUSDT,1,7.02,7.3000000000THETA,51.23227600USDT,0.0073000000THETA,51.232276
315,16/03/2021 19:49,ADAUSDT,1,1.23,40.5000000000ADA,49.88871000USDT,0.0405000000ADA,49.888710
316,21/01/2021 15:26,ETHGBP,1,884.83,0.1135800000ETH,100.49899140GBPG,0.0000000000ETH,100.498991
317,21/01/2021 15:09,BTCGBP,1,23022.06,0.0021500000BTC,49.49742900GBPG,0.0000000000BTC,49.497429

In [13]:
# total amount of crypto bought

total_amt_spent = buy_df['Amount($)'].sum()

In [15]:
total_amt_spent

9900.90611453

In [14]:
# total amount of crypto sold

total_amt_sold = sell_df['Amount($)'].sum()

In [16]:
total_amt_sold

5887.8095710100015

## Looking at Specific Coins

In [18]:
# storing all Eth buys

ETH_BUYS = buy_df[buy_df['Pair'].str.contains("ETHUSDT")]

In [24]:
# storing all Eth sells

ETH_SELLS = sell_df[sell_df['Pair'].str.contains("ETHUSDT")]

In [26]:
total_eth_spent = ETH_BUYS['Amount($)'].sum()

total_eth_sold = ETH_SELLS['Amount($)'].sum()

In [27]:
total_eth_spent

2689.9487789

In [28]:
total_eth_sold

2546.0342745000003