In [1]:
import math

In [2]:
# this function calculates the loan EMI with any amount, duration, rate and down payment

def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration-1))
    emi = math.ceil(emi)
    return emi

Sean paying back a home loan for a house.
cost of house = $800k
Sean made a down payment of 25%
the rest was paid on 6 year loan with interest rate of 7% per annum

Sean now buying a car worth 60k paying via 1 year loan with interest rate of 12% per annum
Loans are paid back in Equated Monthly Installments (EMIs)

What is the total monthly payment Sean makes towards loan repayment

In [3]:
cost_of_house = 800000
home_loan_duration = 6*12 # month
home_loan_rate = 0.07/12 #month
home_down_payment = 0.25*800000

emi_house = loan_emi(amount=cost_of_house,
                    duration=home_loan_duration,
                    rate=home_loan_rate,
                    down_payment=home_down_payment)
emi_house

10230

In [4]:
cost_of_car = 60000
car_loan_duration = 1*12 # months
car_loan_rate = .12/12 # monthly

emi_car = loan_emi(amount=cost_of_car, duration=car_loan_duration, rate=car_loan_rate)

emi_car

5331

Q: if u borrow 100k using a 10 year loan with interest rate of 9% per annum,
what is the total amount you end up paying as interest?

In [5]:
try:
    print('Now computing the result..')
    result = 5/0
    print('Computation was completed successfully')
except ZeroDivisionError:
    print('Failed to compute result because you were trying to divide by zero')
    result = None
    
print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None

error occurred as cannot divide by 0. EMI is defined with a rate, however with this rate at 0, the variable becomes an
equation where something is divided by 0 - therefore error occurs

To solve this problem we can create a try and except statement to handle this exception

In [6]:
# This is an update of the function to account for these occurrances of zero division if the rate = 0.
# Now this function will not throw an error because if the rate is 0 then it will ignore it and move to the exception

def loan_emi(amount, duration, rate, down_payment=0):
    
    """""Calculates the equal monthly installment(EMI) for a loan.
    
    Arguments:
    amount = total amount to be spent (loan + down payment)
    duration = duration of loan in months
    rate = rate of monthly interest
    down payment = optional initial payment - deducted from amount
    """
    
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration-1))
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [7]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [8]:
# now this calculation can work. If the rate is 0 then the exception is triggered to ignore this rate

emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)
emi_without_interest

834

In [9]:
# to calculate the total interest we take the emi with interest - the emi without interest
# and then multiply it with the duration of the loan (years * months)

total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [10]:
print('the total interest paid is ${}'.format(total_interest))

the total interest paid is $51960

## Climate Data Analysis

In [11]:
import csv
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('climate.csv')

In [13]:
# imports the climate data from the csv straight into a numpy array
# skip_header skips the first row - the header

climate_data = np.genfromtxt('climate.csv', delimiter=',', skip_header=1)

In [14]:
# the data contains temperature, rainfall and humidity for each row (each area)

climate_data

array([[25., 76., 99.],
       [39., 65., 70.],
       [59., 45., 77.],
       ...,
       [99., 62., 58.],
       [70., 71., 91.],
       [92., 39., 76.]])

In [15]:
climate_data.shape

(10000, 3)

In [16]:
weights = np.array([0.3, 0.2, 0.5])

In [17]:
# the @ symbol performs the matrix multiplication - multiplying each weight to its corresponding data in every entry of the array

yields = climate_data @ weights

In [18]:
# here are the results

yields

array([72.2, 59.7, 65.2, ..., 71.1, 80.7, 73.4])

In [19]:
yields.shape

(10000,)

In [20]:
# now we take the resulting yields that we have collected and add it as a new column back inside the climate data array

# making sure to concatenate along the first dimension (axis 1)

climate_results = np.concatenate((climate_data, yields.reshape(10000, 1)), axis=1)

In [21]:
# now this array contains the yield results in the last column

climate_results

array([[25. , 76. , 99. , 72.2],
       [39. , 65. , 70. , 59.7],
       [59. , 45. , 77. , 65.2],
       ...,
       [99. , 62. , 58. , 71.1],
       [70. , 71. , 91. , 80.7],
       [92. , 39. , 76. , 73.4]])

In [24]:
# now we want to save the 'climate results' back into a new csv file
# the fmt formats the string to display only to 2 decimal places
# also included a header at the top representing what the columns are
# the comments argument


np.savetxt('climate_results.csv',
          climate_results,
          fmt='%.2f',
          header='temperature,rainfall,humidity,yield_apples',
          comments=' ')